<!DOCTYPE html>
<html>
<head>
  <title>Rails engine demo</title>
  <%= stylesheet_link_tag    "rails/engine/demo/application", media: "all" %>
  <%= javascript_include_tag "rails/engine/demo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
